html,
body {
  padding: 0;
  margin: 0;
  background-color: #1e2731;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h3 {
  color:#ffffff;
}

p {
  color:#d3d3d3;
}

/* Button */

  .ant-btn-primary {
    border-color: #43b683;
    background: #43b581;
    color:#ffffff;
  }

  .table-add {
    text-align: center;
    padding: 0 3rem;
    position: absolute;
    top: 13%;
  }

  .ant-btn:hover {
    border-color: #43b581;
    color: #ffffff;
  }

  .ant-btn-primary:focus, .ant-btn-primary:hover {
    border-color: #5ddaa2;
    background: #5edaa2;
  }

  .ant-popover .ant-btn-default-sm {
    background-color: #ff393d;
    border: 1px solid #ff393d;
    color: #ffffff;
  }

  .ant-form-item .ant-btn {
    width: 500px;
    margin-top: 20px;
  }

  .ant-modal-footer .ant-btn-default{
    background-color: #ff393d;
    border: 1px solid #ff393d;
    color: #ffffff;
  }

  .ant-modal-footer .ant-btn-default:focus, .ant-btn-default:hover {
    border-color: #ff4d4f;
    background: #ff4d4f;
  }

  .ant-btn-primary[disabled], .ant-btn-primary[disabled]:active, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:hover {
    border-color: #43b683;
    background: #43b581;
    color:#ffffff;
  }

  .ant-btn-default {
    background: #ff393d;
    border-color: #ff393d;
    color:#ffffff;
  }

/* Card */

  .ant-card {
    background: #1e2731;
    color:#ffffff;
  }

  .ant-card-bordered {
    border: 1px solid #1c242e;
  }

  .ant-card-meta-title {
    color:#ffffff;
  }

  .ant-card-head-title {
    color:#ffffff;
    text-align: center;
  }

  .ant-card-bordered {
    border: 1px solid #161d24;
    background-color: #161d24;
  }

  .ant-card a {
    color: #43b581;
  }

  .ant-card-head {
    background-color: #161d24; 
    border-bottom: 1px solid #1c242e;
  }
  
/* Form */

  .ant-form-item-label>label {
    color:#ffffff;
  }

  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper, .ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper:hover {
    background: #2a3644;
  }

  .ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background: #2a3644;
  }

  .ant-form-item-has-error .ant-input-number, .ant-form-item-has-error .ant-picker {
    background: #2a3644;
  }

/* Input */

  .ant-input-group-wrapper {
    max-width: 500px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .ant-input-affix-wrapper {
    min-width: 500px;
    background: #2a3644;
    border: 1px solid #1c242e;
  }

  .ant-input {
    background: #2a3644;
    border: 1px solid #1c242e;
    color:#d3d3d3;
  }

  .ant-input-number {
    background: #2a3644;
    color: #d3d3d3;
    border: 1px solid #1c242e;
  }

  .ant-input-group-addon {
    color:#ffffff;
    background:#43b581;
    border: 1px solid #1c242e;
  }

  .ant-input-number-handler-wrap {
    background: #2a3644;
    color: #ffffff;
    border: 1px solid #2a3644;
  }

  .ant-input-number-handler {
    border-left: 1px solid #2a3644;
    border-top: 1px solid #2a3644;
  }

  .ant-input-number:hover {
    border-color: #43b581;
  }

  .ant-input-number-focused, .ant-input-number:focus{
    border-color: #43b581;
  }

  .ant-input:hover {
    border-color: #43b581;
  }

  .ant-input-focused, .ant-input:focus{
    border-color: #43b581;
  }

  .ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus{
    border-color: #43b581;
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #43b581;
  }

  .ant-input-affix-wrapper-disabled:hover {
    border-color: #ff4d4f;
  }

/* Menu */

  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #43b581;
  }

  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover {
    background-color: #43b581;
  }

  .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #14191f;
  }

  .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item>a, .ant-menu-dark .ant-menu-item>span>a {
    color:#ffffff;
  }

/* Modal */ 

  .ant-modal-content {
    background-color: #161d24;
  }

  .ant-modal-header {
    background-color: #161d24;
    border-bottom: 1px solid #1c242e;
    text-align: center;
  }

  .ant-modal-title {
    color: #ffffff;
  }

  .ant-modal-footer {
    border-top: 1px solid #1c242e;
  }

/* Other */

  .ant-space {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 50%;
  }

  .anticon svg {
    color:#ffffff;
  }

  .center {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    transform: translate(0, -40%);
  }

  .profile {
    width: 600; 
    margin: 14;
    border: 1px solid #161d24;
  }

  .profile-buttons {
    display: inline-flex;
    gap: 25px;
  }

  .ant-select-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 175px;
    top: 12.5%;
    right: 1.9%;
  }

  .ant-notification-notice {
    background: #161d24;
    border-color: #161d24;
    color: #d3d3d3;
  }

  .ant-notification-notice .anticon svg {
    color: #ff393d;
  }

  .ant-notification-notice-with-icon .ant-notification-notice-message {
    color:#ffffff;
  }

/* Pagination */ 

  .ant-table-pagination.ant-pagination {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -120%);
  }

  .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link {
    background: #2a3644;
    color:#ffffff;
    border: 1px solid #1c242e;
  }

  .ant-pagination-item-active {
    background: #2a3644;
  }

  .ant-pagination-item {
    background: #2a3644;
    color: #ffffff;
    border: 1px solid #1c242e;
  }

  .ant-pagination-item a {
    color: #ffffff;
  }

  .ant-pagination-item-active:focus-visible, .ant-pagination-item-active:hover {
    border-color: #43b581;
  }

  .ant-pagination-item-active:focus-visible a, .ant-pagination-item-active:hover a {
    color: #43b581;
  }

  .ant-pagination-item:hover {
    border-color: #43b581;
  }

  .ant-pagination-item:hover, .ant-pagination-item:hover a {
    color: #43b581;
  }

  .ant-pagination-next:hover, .ant-pagination-next:hover a{
    border-color: #43b581;
  }

  .ant-pagination-next:focus-visible .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link, .ant-pagination-prev:focus-visible .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link {
    border-color: #43b581;
    color: #43b581;
  }

/* Popover */

  .ant-popover-inner {
    background: #12171d;
  }

  .ant-popover-arrow-content {
    background-color:#12171d;
  }

  .ant-popover-message {
    color:#ffffff;
  }

/* Select */

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #2a3644;
    color:#ffffff;
    border: 1px solid #1c242e;
  }

  .ant-select-arrow {
    color:#ffffff;
  }

  .ant-select-dropdown {
    background: #2a3644;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: #43b581;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: #1dad6c;
  }

  .ant-select-item-option-content {
    color:#f0f8ff;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #43b581;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #43b581;
  }

  .ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background: #2a3644;
  }

/* Table */

  .ant-table-wrapper {
    top: 17%;
    display: flex;
    justify-content: center;
    position: absolute;
    min-width: 100%;
    padding: 0 3rem;
    flex-direction: column;
  }

  .ant-table {
    background: #1e2731;
    color:#d3d3d3;
  }

  .ant-table a {
    color: #43b581;
  }

  .ant-table-thead>tr>th {
    background: #1c242e;
    color: #ffffff
  }

  .ant-table-tbody>tr.ant-table-row:hover>td, .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #2a3644;
  }

  .ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
    border-bottom: 1px solid #1c242e;
  }

  .ant-spin-container:after {
    background: #1e2731;
  }

  .ant-empty-normal {
    color:#ffffff;
  }

  .ant-table-tbody>tr.ant-table-placeholder:hover>td {
    background:#1c242e;
  }

  .table-functions {
    display: inline-flex;
    gap: 16px;
  }
